absl-py==0.15.0
address-net==1.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
altair==4.1.0
altgraph==0.17.2
analytics-python==1.4.0
aniso8601==7.0.0
anyio==3.6.1
apipkg==1.5
appdirs==1.4.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astunparse==1.6.3
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
atari-py==0.2.6
attrdict==2.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
autowhatspy==1.0.7
Babel==2.5.3
backcall==0.1.0
backoff==1.10.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.1
Bashutils==0.0.4
bce-python-sdk==0.8.73
bcrypt==3.2.2
beautifulsoup4==4.9.0
bitarray==1.2.1
bkcharts==0.2
bpemb==0.3.3
branca==0.3.1
cached-property==1.5.2
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.12
ChatterBot==1.0.8
clang==5.0
click==7.1.1
cloudpickle==1.3.0
clyent==1.2.2
cmake==3.15.3
colorama==0.4.3
colorcet==3.0.0
commonmark==0.9.1
comtypes==1.1.7
conda==4.8.3
conda-build==3.10.5
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==5.2.0
confusable-homoglyphs==3.2.0
constantly==15.1.0
contextlib2==21.6.0
contextvars==2.4
courlan==0.8.3
coverage==6.2
crayons==0.4.0
crispy-bootstrap5==0.6
cryptography==2.8
cssselect==1.1.0
cssutils==2.3.1
cuttpy==1.1.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
cytoolz==0.10.1
dash==1.7.0
dash-core-components==1.6.0
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
dask==2.5.0
dataclasses==0.8
datashape==0.5.4
dateparser==1.1.1
decorator==4.4.2
deepface==0.0.75
deepparse==0.3.4
defusedxml==0.6.0
Deprecated==1.2.13
dhooks==1.1.4
discord==1.7.3
discord-webhook==0.14.0
discord.py==1.7.3
distributed==1.21.8
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.2
django-bitfield==2.0.1
django-bootstrap4==21.1
django-ckeditor==6.3.2
django-cors-headers==3.2.1
django-crispy-forms==1.13.0
django-dajax==0.9.2
django-dajaxice==0.7
django-filter==2.2.0
django-geo==0.8
django-geodata==0.1.1
django-geojson==2.12.0
django-js-asset==1.2.2
django-leaflet==0.24.0
django-mptt==0.11.0
django-multiforloop==0.3.1
django-popup-view-field==0.6.1
django-registration==3.2
django-richtextfield==1.6.1
django-separatedvaluesfield==0.6.0
django-timezone-field==4.0
django-uuidfield==0.5.0
djangorestframework==3.10.3
dlib==19.8.1
docopt==0.6.2
docutils==0.16
e2cnn-py36==0.1.8
elasticsearch==7.1.0
elasticsearch-dsl==7.1.0
emoji==2.1.0
en-core-web-sm==2.2.5
entrypoints==0.3
et-xmlfile==1.0.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
excel2json-3==0.1.6
execnet==1.7.1
face-recognition==1.3.0
face-recognition-models==0.3.0
falcon==2.0.0
falcon-cors==1.1.7
fastapi==0.79.0
fastcache==1.1.0
fasteners==0.15
fasttext==0.9.2
ffmpy==0.3.0
filelock==3.0.12
fire==0.4.0
flair==0.7
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Compress==1.4.0
Flask-Cors==3.0.4
flatbuffers==1.12
folium==0.10.0
frozenlist==1.2.0
ftfy==6.0.3
future==0.18.2
futures==3.0.5
G6-iris-recognition==0.0.8
gast==0.4.0
gcloud==0.17.0
GDAL==3.0.2
gdown==3.10.1
gensim==3.8.3
geocoder==1.38.1
geographiclib==1.52
geojson==2.5.0
geopy==2.2.0
gevent==1.4.0
gitdb==4.0.9
GitPython==3.1.18
glfw==1.8.3
glob2==0.7
gmplot==1.4.1
google-api-core==2.4.0
google-api-python-client==2.36.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
google-search-results==1.8.1
googleapis-common-protos==1.54.0
googletrans==3.0.0
gradio==3.0.12
graphene==2.1.8
graphene-django==2.8.1
graphql-core==2.3.1
graphql-relay==2.0.1
greenlet==0.4.15
grpcio==1.48.1
gTTS==2.2.1
gunicorn==19.9.0
gym==0.14.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
HeapDict==1.0.1
hexbytes==0.2.3
hmm==0.0.1
hmmlearn==0.2.2
holoviews==1.14.9
hpack==3.0.0
hstspreload==2020.7.7
html5lib==1.0.1
htmldate==1.2.3
HTMLParser==0.0.2
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
huggingface-hub==0.4.0
hvplot==0.8.1
hyperframe==5.2.0
hyperlink==19.0.0
hyperopt==0.2.7
idna==3.3
idna-ssl==1.1.0
ImageHash==4.0
imageio==2.8.0
imageio-ffmpeg==0.4.1
imagesize==1.2.0
imgaug==0.4.0
immutables==0.14
importlib-metadata==2.1.3
importlib-resources==5.4.0
imutils==0.5.3
incremental==17.5.0
invisible-watermark==0.1.5
ipdb==0.12.2
ipfshttpclient==0.8.0a2
ipykernel==5.5.6
ipython==6.5.0
ipython_genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.21
itsdangerous==1.1.0
Janome==0.4.2
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.13.1
jupyter-server-proxy==3.2.2
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
jupyterthemes==0.20.0
jusText==3.0.0
jws==0.1.3
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.5
kiwisolver==1.1.0
konoha==4.6.5
labelImg==1.8.3
langcodes==3.3.0
langdetect==1.0.9
language-check==1.1
layers==0.1.5
lazy-object-proxy==1.4.3
lesscpy==0.14.0
linkify-it-py==1.0.3
llvmlite==0.32.0
lmdb==1.3.0
locket==0.2.0
lockfile==0.12.2
lru-dict==1.1.8
lxml==4.9.1
lz4==3.1.10
Mako==1.1.0
Markdown==3.0.1
markdown-it-py==2.0.1
MarkupSafe==1.1.1
Mastodon.py==1.4.6
mathparse==0.1.2
matplotlib==3.2.1
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
mediapipe==0.8.3
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.2
monotonic==1.5
more-itertools==4.1.0
MouseInfo==0.1.3
moviepy==1.0.2
mpld3==0.3
mpmath==1.1.0
msgpack==1.0.0
mss==6.1.0
mtcnn==0.1.1
mujoco-py==2.0.2.8
multiaddr==0.0.9
multidict==5.2.0
multipledispatch==0.6.0
multitasking==0.0.11
murmurhash==1.0.2
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.27
mysqlclient==1.4.6
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
nbstripout==0.5.0
neo4j==4.4.10
netaddr==0.8.0
networkx==2.4
nltk==3.3
nose==1.3.7
nose2==0.11.0
notebook==6.0.3
numba==0.49.0
numexpr==2.7.1
numpy==1.19.5
numpydoc==0.8.0
oauth2client==3.0.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
oneai==0.5.2
onnx==1.10.1
onnxruntime==1.8.1
openai==0.8.0
opencv-contrib-python==4.4.0.46
opencv-python==4.6.0.66
openpyxl==3.0.3
opt-einsum==3.3.0
orjson==3.6.1
overrides==3.1.0
packaging==21.3
paddleocr==2.5.0.3
pafy==0.5.5
paho-mqtt==1.5.0
pandas==0.25.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
panel==0.12.1
param==1.12.2
paramiko==2.11.0
parsel==1.5.2
parsimonious==0.8.1
parso==0.6.2
partd==1.1.0
path.py==12.0.2
pathlib2==2.3.2
patsy==0.5.0
pdfrw==0.4
pefile==2021.9.3
pep8==1.7.1
pickleshare==0.7.5
pika==1.3.1
Pillow==8.4.0
pipreqs==0.4.10
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.4.1
pluggy==0.6.0
ply==3.11
plyer==2.0.0
Poutyne==1.10.1
premailer==3.10.0
preshed==3.0.2
probableparsing==0.0.1
proglog==0.1.9
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==1.0.18
Protego==0.1.16
protobuf==3.19.5
proxy-requests==0.4.8
psutil==5.7.0
psycopg2==2.8.5
psycopg2-binary==2.8.4
py==1.8.1
py4j==0.10.9.5
pyaes==1.6.1
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pybind11==2.9.2
pyclipper==1.3.0.post3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.15.0
pyct==0.4.8
pycurl==7.43.0.5
pydantic==1.9.1
pydeck==0.6.2
pyDeprecate==0.3.2
PyDispatcher==2.0.5
PyDrive==1.3.1
pydub==0.25.1
pyflakes==2.1.1
PyGetWindow==0.0.9
pygit2==0.28.2
pyglet==1.3.2
Pygments==2.6.1
pygsheets==2.0.5
PyHamcrest==2.0.2
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pylint==2.4.4
pymagnitude-light==0.1.147
pymongo==4.1.1
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyngrok==5.2.1
pyodbc===4.0.0-unsupported
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyparsing==2.4.6
PyPDF2==1.26.0
PyPDF4==1.27.0
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
pypresence==4.2.1
PyQRCode==1.2.1
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyreadline==2.1
Pyrebase==3.0.27
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.28
pyshp==2.1.0
PySocks==1.7.1
pyspark==3.2.4
pyspellchecker==0.5.4
pysrt==1.1.2
pytesseract==0.3.3
python-barcode==0.14.0
python-binance==0.7.5
python-crfsuite==0.9.8
python-crontab==2.4.0
python-dateutil==2.8.2
python-decouple==3.1
python-dotenv==0.20.0
python-facepp==0.1.0a5
python-jwt==2.0.1
python-Levenshtein==0.12.2
python-magic==0.4.15
python-multipart==0.0.5
python-socks==1.2.4
pytools==2019.1.1
pytz==2019.3
pyviz-comms==2.2.1
PyWavelets==1.1.1
pywhatkit==5.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzbar==0.1.9
pyzmq==18.1.1
queuelib==1.5.0
ratelim==0.1.6
regex==2020.5.14
requests==2.27.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
retina-face==0.0.12
retrying==1.3.3
rfc3986==1.4.0
rich==12.4.4
rlp==2.0.1
rope==0.16.0
rsa==4.0
ruamel_yaml==0.15.87
Rx==1.6.1
sacremoses==0.0.53
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==2.0.1
seaborn==0.8.1
segtok==1.5.11
selenium==3.141.0
semver==2.13.0
Send2Trash==1.5.0
sentence-transformers==2.2.2
sentencepiece==0.1.91
service-identity==18.1.0
Shapely==1.7.0
simpervisor==0.4
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==6.0.0
smmap==5.0.0
sniffio==1.1.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==2.0
South==1.0.2
spacy==2.2.4
SpeechRecognition==3.8.1
Sphinx==1.7.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.2.1
spyder==3.2.8
SQLAlchemy==1.3.16
sqlitedict==2.0.0
sqlparse==0.3.0
srsly==1.0.2
starlette==0.19.1
static3==0.7.0
statsmodels==0.9.0
stl-tools==0.3.0
streamlit==1.10.0
StringGenerator==0.4.4
style==1.1.0
sweetify==2.0.0
sympy==1.5.1
tables==3.6.1
tabulate==0.8.10
tb-nightly==1.14.0a20190301
tblib==1.6.0
thinc==7.4.0
tld==0.12.6
tokenizers==0.10.3
toml==0.10.2
toolz==0.10.0
tqdm==4.64.1
trafilatura==1.2.2
traitlets==4.3.2
transformers==4.16.2
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
typeguard==2.7.1
typing==3.6.4
typing_extensions==4.1.1
tzlocal==2.1
uc-micro-py==1.0.1
unicodecsv==0.14.1
unicorn==2.0.0
Unidecode==1.1.1
Unipath==1.1
update==0.0.1
uritemplate==4.1.1
urllib3==1.26.11
usaddress==0.5.10
uvicorn==0.16.0
validators==0.20.0
varint==1.0.2
visualdl==2.3.0
vpython==7.6.2
w3lib==1.21.0
waitress==1.4.3
wasabi==0.6.0
watchdog==2.1.9
wcwidth==0.1.9
web3==5.31.3
webdriver-manager==3.5.2
webencodings==0.5.1
websocket-client==1.2.3
websockets==9.1
Werkzeug==1.0.1
whitenoise==2.0.6
widgetsnbextension==3.2.1
wikipedia==1.4.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.8
xlwings==0.18.0
xlwt==1.3.0
xvfbwrapper==0.2.9
xxhash==3.0.0
yarg==0.1.9
yarl==1.7.2
yfinance==0.1.72
yolk==0.4.3
zict==2.0.0
zipp==3.6.0
zope.interface==5.0.1