{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "hf2ycejlsg");
</script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.svg' %}" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homeverse - Find your dream house</title>

  <!--
    - favicon
  -->
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-b5fe6a9b-dec4-4bf5-92b6-80e9e39f8864"></div>
  <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{%static 'style.css'%}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
{#    <script src="//code.jivosite.com/widget/m32yyuVwVA" async></script>#}

</head>

<body>
<script src="//code.tidio.co/3fybo3fdq3yflaxwawnskg6cy8pajq3e.js" async></script>
  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@propertygharana.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>Office No.38, Farhan Plaza ,G-11 Markaz Islamabad</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

              <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

              <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

              <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>

              <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>
          </ul>
          <button class="header-top-btn">Contact US</button>
        </div>
      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="{% static 'images/logotransparentwithblackfont/375x90.png'%}" alt="Property Gharana logo">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
             <img src="{% static 'images/logotransparentwithblackfont/375x90.png'%}" alt="Property Gharana logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="#property" class="navbar-link" data-nav-link>Property</a>
              </li>

              <li>
                <a href="blog" class="navbar-link" data-nav-link>Blog</a>
              </li>

              <li>
                <a href="contact" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">
          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>
            <span>Menu</span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <article>
      <section class="hero" id="home">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>
              <span>Real Estate Agency</span>
            </p>

            <h2 class="h1 hero-title">Find Your Dream House By Us</h2>

            <p class="hero-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
            <button class="btn">Request A Call Back!</button>
          </div>

          <figure class="hero-banner">
            <img src="{% static 'images/hero-banner.png' %}" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section>
      <section>


      </section>





      <!--
        - #CTA
      -->

      <section class="cta">
        <div class="container">
          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">“The Best Investment on Earth is Earth”</h2>
{#              <p class="card-text">We can help you realize your dream of a new home</p>#}


            </div>
            <div class="form-outline">
  <input type="text" id="form12" class="form-control" placeholder="Contact Number" />
</div>
                <div class="form-outline">
  <input type="text" id="form12" class="form-control" placeholder="Name"/>
</div>
            <button class="btn cta-btn">
              <span>Request a Call Back!</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </div>


        </div>
      </section>

    </article>
  </main>





  <!--
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'favicon.png' %} alt="Property Gharana">
          </a>

          <p class="section-text">
              A Gharana of excellence, dedicated to the best in service.
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Office No.38, Farhan Plaza ,G-11 Markaz Islamabad</address>
              </a>
            </li>

            <li>
              <a href="tel:+923005081451" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+92-3005081451</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@homeverse.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>propertygharana@gmail.com</span>
              </a>
            </li>
          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
              <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
              <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
              <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="blog" class="footer-link">Blog</a>
            </li>

            <li>
              <a href="#" class="footer-link">Our Projects</a>
            </li>

            <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Real Estate Consultancy</a>
            </li>

            <li>
              <a href="#" class="footer-link">Real Estate Marketing</a>
            </li>

            <li>
              <a href="#" class="footer-link">Construction</a>
            </li>

            <li>
              <a href="#" class="footer-link">Property Management</a>
            </li>

            <li>
              <a href="#" class="footer-link">Transaction Management</a>
            </li>



          </ul>

{#          <ul class="footer-list">#}
{##}
{#            <li>#}
{#              <p class="footer-list-title">Property Gharana</p>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">Login</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">My account</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">Wish List</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">Order tracking</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">FAQ</a>#}
{#            </li>#}
{##}
{#            <li>#}
{#              <a href="#" class="footer-link">Contact us</a>#}
{#            </li>#}
{##}
{#          </ul>#}
{##}
        </div>
{##}
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>





  <!--
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}"></script>


  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>